---
/* Índice. Contrato: .toc li (cascata da abertura), .leader/.pg (hover do scrollmotion). */
---

<nav class="toc sheet" data-screen-label="Índice">
  <ol>
    <li>
      <a href="#trabalhos"
        ><span class="no">01</span><span data-i18n="toc.1">Trabalhos</span><span class="leader"></span><span
          class="pg"
          data-i18n="toc.1n">6 fichas</span
        ></a
      >
    </li>
    <li>
      <a href="#trajetoria"
        ><span class="no">02</span><span data-i18n="toc.2">Trajetória</span><span class="leader"></span><span
          class="pg"
          data-i18n="toc.2n">4 períodos</span
        ></a
      >
    </li>
    <li>
      <a href="#sobre"
        ><span class="no">03</span><span data-i18n="toc.3">Sobre</span><span class="leader"></span><span
          class="pg"
          data-i18n="toc.3n">1 pessoa</span
        ></a
      >
    </li>
    <li>
      <a href="#contato"
        ><span class="no">04</span><span data-i18n="toc.4">Contato</span><span class="leader"></span><span
          class="pg"
          data-i18n="toc.4n">3 canais</span
        ></a
      >
    </li>
  </ol>
</nav>
